<div  id='cssmenu'>
    <ul>
      <li><a routerLink="/addproduct">Add product </a></li>
      <li><a routerLink="/listProducts">List products</a></li>
    </ul>
  </div>



  <br/><br/>
  <div class="card material-table">
    <div class="table-header">
      <i class="fa fa-area-chart"> Produits</i>
    </div>
        <table id="datatable">
          <thead>
            <tr>
              <th>Id</th>
              <th>Nom</th>
              <th>PrixBase</th>
              <th>PrixVente</th>
              <th>Quantite</th>
              <th>Actions</th>
          </tr>
          </thead>
        <tbody>
          <tr *ngFor="let product of products">
            <td>{{ product.id }}</td>
            <td>{{ product.productName }}</td>
            <td>{{ product.basePrice }}</td>
            <td>{{ product.sellingPrice }}</td>
            <td>{{ product.currentQte }}</td>
            <td>
            <button (click)="edit(product)" style="color: rgb(4, 131, 4);margin-left: 10px;
            " class="glyphicon glyphicon-edit "></button>
            <button (click)="delete(product)" style="color: rgb(238, 5, 5);margin-left: 10px;
            " class="glyphicon glyphicon-trash"></button>
            </td>
        </tr>
        </tbody>
        </table>
      </div>

