
<body>
    <nav class="navbar navbar-default no-margin light">
        
        <div class="collapse navbar-collapse d-flex bd-highlight" id="navbarTogglerDemo01">
            <a class="navbar-brand p-2 flex-grow-1 bd-highlight" style="cursor: pointerp;"><strong>SmartVents</strong></a>
            <a href="#"><i class="glyphicon glyphicon-cog" style="float: right; color: rgb(66, 65, 65); padding: 19px;"></i></a>
            <a href="#"><i class="glyphicon glyphicon-bell" style="float: right; color: rgb(66, 65, 65); padding: 19px;"></i></a>
            <a href="#"><i class="glyphicon glyphicon-option-vertical" style="float: right; color: rgb(66, 65, 65); padding: 19px;"></i></a>
        </div>
    </nav>
    <div id="wrapper">
      <!-- Sidebar -->
      <div id="sidebar-wrapper" style="position: absolute; height: 140%;">
        <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
  
          <li>
            <a routerLink="/listUsers"><i class="glyphicon glyphicon-user"></i>&nbsp;&nbsp;&nbsp;Utilisateurs</a>
          </li>
          <li>
            <a routerLink="/listProducts"><i class="glyphicon glyphicon-shopping-cart"></i>&nbsp;&nbsp;&nbsp;Produits</a>
          </li>
          <li>
            <a routerLink="/listClients"><i class="glyphicon glyphicon-user"></i>&nbsp;&nbsp;&nbsp;Clients</a>
          </li>
          <li>
            <a routerLink="/listFournisseurs"><i class="glyphicon glyphicon-briefcase"></i>&nbsp;&nbsp;&nbsp;Fournisseurs</a>
          </li>
        </ul>
      </div>

    <ul class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Dossier</a></li>
      </ul>
      <div class="col-lg-12">
        <router-outlet></router-outlet>
       </div>
      </div>
  </body>
