<div class="menu dark">
    <div class="main-menu dark">
      <div class="scroll">
        <ul class="list-unstyled">
          <li [routerLinkActive]="'active'">
            <span class="sidebar-link" routerLink="/dashboard">
              <i class="iconsminds-shop-4"></i>
              <span>Dossier</span>
            </span>
          </li>
          <li [routerLinkActive]="'active'">
            <span class="sidebar-link" routerLink="/members">
              <i class="iconsminds-user"></i>
              <span>Planing et reservation</span>
            </span>
          </li>
          <li [routerLinkActive]="'active'">
            <span class="sidebar-link" routerLink="/products">
              <i class="iconsminds-shop-2"></i>
              <span>caisée</span>
            </span>
          </li>
          <li [routerLinkActive]="'active'">
            <span class="sidebar-link" routerLink="/posts">
              <i class="iconsminds-sharethis"></i>
              <span>Formation et cours</span>
            </span>
          </li>
          <li [routerLinkActive]="'active'">
            <span class="sidebar-link" routerLink="/orders">
              <i class="iconsminds-pantone"></i>
              <span>Stock et inventaire</span>
            </span>
          </li>
          <li [routerLinkActive]="'active'">
            <span class="sidebar-link" routerLink="/orders">
              <i class="iconsminds-pantone"></i>
              <span>Statistiques</span>
            </span>
          </li>
        </ul>
      </div>
    </div>
    <div class="sub-menu"></div>
  </div>
