<div  id='cssmenu'>
    <ul>
      <li><a routerLink="/adduser">Add user</a></li>
      <li><a routerLink="/listUsers">List users</a></li>
    </ul>
  </div>



  <br/><br/>
      <div class="card material-table">
        <div class="table-header">
          <i class="fa fa-area-chart"> Utilisateurs</i>
        </div>
        <table id="datatable">
          <thead>
            <tr>
              <th>Id</th>
              <th>Profils</th>
              <th>Date creation</th>
              <th>Date fin</th>
              <th>Email</th>
              <th>Actions</th>
          </tr>
          </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{ user.id }}</td>
            <td>{{ user.profils }}</td>
            <td>{{ user.creationDate }}</td>
            <td>{{ user.endDate }}</td>
            <td>{{ user.email }}</td>
            <td>
            <button (click)="edit(user)" style="color: rgb(4, 131, 4);margin-left: 10px;
            " class="glyphicon glyphicon-edit "></button>
            <button (click)="delete(user)" style="color: rgb(238, 5, 5);margin-left: 10px;
            " class="glyphicon glyphicon-trash"></button>
            </td>
        </tr>
        </tbody>
        </table>
      </div>

