<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="#">Les utilisateurs</a>
    </li>
    <li class="breadcrumb-item active">Utilisateur</li>
</ol>
<div class="card mt-3">
    <div class="card-header">
        <i class="fa fa-area-chart"></i> Clients
        <button class="btn btn-primary float-right" routerLink="clients/add">Ajouter</button>
    </div>
    <div class="card-body">
        <table class="table table-bordered table-striped">
        <tr>
            <th>Id</th>
            <th>Profils</th>
            <th>Date creation</th>
            <th>Photo</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
        <tr *ngFor="let user of users">
            <td>{{ user.id }}</td>
            <td>{{ user.profils }}</td>
            <td>{{ user.creationDate }}</td>
            <td>{{ user.image }}</td>
            <td>{{ user.email }}</td>
            <td>
            <button (click)="edit(user)" type="button" class="btn btn-success">Editer</button>
            <button (click)="delete(user)" type="button" class="btn btn-danger ml-2">Supprimer</button>
            </td>
        </tr>
        </table>
    </div>
</div>